
@{
    ViewData["Title"] = "Create shoe";
}


    <div>
        <h3>Create shoe form</h3>
        <p>Enter these:</p>
        <form method="post">
            <table>
                <tr>
                    <td>Name:</td>
                    <td><input type="text" name="Name" /> </td>
                </tr>
                <tr>
                    <td>Brand:</td>
                    <td><input type="text" name="Brand" /></td>
                </tr>
                <tr>
                    <td>Price:</td>
                    <td><input type="text" name="Price" /></td>
                </tr>
                <tr><td><input type="submit" value="Create" /> </td><td></td></tr>
            </table>
        </form>
    </div>

